.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Product {
  border: solid blue 1px;
  text-align: center;
}
.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
nav {
  grid-column: 1/-1;
  text-align: center;
}
nav ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.App > * {
  border: solid red 1px;
}
